; Config::Simple 4.59
; Sun Aug 21 23:17:46 2016

[MAIN]
SUBFOLDER=REPLACELBPPLUGINDIR
UDP_Port="4444"
UDP_Send_Enable=0
UDP_SEND_Intervall=5
HTTP_TEXT_Send_Enable=0
HTTP_TEXT_Send_Intervall=5
MINISERVER=MINISERVER1
SHOW_ALL_Enable=1

[Device1]
Name="ups"

[Device2]
Name=""

[Device3]
Name=""

[Device4]
Name=""

